# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
city_data_df = pd.read_csv("../output_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

# Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
gmaps.configure(g_key)

In [49]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure()

heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_map)

print(fig)

Figure(layout=FigureLayout(height='420px'))

#Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
#reduce cities to ideal conditions 
wow_city_df = city_data_df.loc[(city_data_df["Wind Speed"]<= 5) & (city_data_df["Cloudiness"] <= 4) & 
                                (city_data_df["Max Temp"]>= 73) & (city_data_df["Max Temp"]<= 80)].dropna()

wow_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
494,494,baylo,1,PH,1558378889,69,7.85,126.06,77.00,1.07

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
#hotels
hotel_df = wow_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

         City Country    Lat     Lng Hotel Name
87   ambilobe      MG -13.19   49.05
139     vaini      IN  15.34   74.49
268    dingle      PH  11.00  122.67
494     baylo      PH   7.85  126.06

In [52]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
params ={
    "radius": 5000,
    "types": "hotels",
    "keyword":"hotels",
    "key": g_key}     
for index, row in hotel_df.iterrows():
    
    # get lat, lng 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotels" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    
    # convert to json
    hotel_name = hotel_name.json()
    print(json.dumps(hotel_name, indent=4, sort_keys=True))
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

{
    "html_attributions": [],
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -13.1958827,
                    "lng": 49.0492968
                },
                "viewport": {
                    "northeast": {
                        "lat": -13.19452692010728,
                        "lng": 49.05063622989272
                    },
                    "southwest": {
                        "lat": -13.19722657989272,
                        "lng": 49.04793657010728
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Hotel National",
            "photos": [
                {
                    "height": 1536,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116133097213339873023\">Piotr</a>"
                    ],
                    "photo_reference": "ATtYBwKA7MyaShiteK8gf8yLTXTtgfz7g9M76F-gJ_adjghe7gOi2M_nT2riNeGt9Osi7NXBE1IIfgwx20zmMZIbmVQT99011VmH3oMdNzs8Qrb2WXrBADskbTlhyNVv23Kl4HS12xV6BZunBu7cp5xIohnhLy2IzMNmm3DLFxaYDFyYnWx7",
                    "width": 2048
                }
            ],
            "place_id": "ChIJzThCo7z1FCIRMfclMqxo-HU",
            "plus_code": {
                "compound_code": "R23X+JP Ambilobe, Madagascar",
                "global_code": "5HRFR23X+JP"
            },
            "rating": 3.5,
            "reference": "ChIJzThCo7z1FCIRMfclMqxo-HU",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 4,
            "vicinity": "6, Ambilobe"
        }
    ],
    "status": "OK"
}
{
    "html_attributions": [],
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": 15.3559226,
                    "lng": 74.4793251
                },
                "viewport": {
                    "northeast": {
                        "lat": 15.35716532989272,
                        "lng": 74.48057762989271
                    },
                    "southwest": {
                        "lat": 15.35446567010728,
                        "lng": 74.47787797010727
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Dandeli Mist Jungle Stay",
            "photos": [
                {
                    "height": 3456,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116076405091428370421\">Rashi Agrawal</a>"
                    ],
                    "photo_reference": "ATtYBwLMzDqyfKA8Bq5_HMzvvI8803v9ij7rd1VNNa647hMHphkNSJm17eAdMXQV79KZhDDeX0REDv-8bZAm52j2pN-4wJjAKaDVuRmuCTA5VLZAgO4wESELTEgx1ZYghY2jbljMevaXI8Ui-mYbaxRJWn5HpqsAcdPYCd5XfaNSWaC0uZWc",
                    "width": 4608
                }
            ],
            "place_id": "ChIJL_fN-MYbvzsRXLlCS2w-lJY",
            "plus_code": {
                "compound_code": "9F4H+9P Bori, Karnataka, India",
                "global_code": "7J7P9F4H+9P"
            },
            "rating": 3.9,
            "reference": "ChIJL_fN-MYbvzsRXLlCS2w-lJY",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 191,
            "vicinity": "12km from Ramnagar, Chandwadi road, Shinoli, Joida, Near Jagelbet Republic of India, SH 34, Bori"
        }
    ],
    "status": "OK"
}
{
    "html_attributions": [],
    "results": [],
    "status": "ZERO_RESULTS"
}
Missing field/result... skipping.
{
    "html_attributions": [],
    "results": [],
    "status": "ZERO_RESULTS"
}
Missing field/result... skipping.

         City Country    Lat     Lng                Hotel Name
87   ambilobe      MG -13.19   49.05            Hotel National
139     vaini      IN  15.34   74.49  Dandeli Mist Jungle Stay
268    dingle      PH  11.00  122.67
494     baylo      PH   7.85  126.06

In [53]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])

fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))